#second {
       width: 360px;
       height: 155px;

   }
#second_slide{
          width: 95px;
          height: 155px;
          margin-left: -15px;
      }
#first{
       width: 375px;
       height: 245px;
   }
#first_slide {
       text-align: center;
       font-size: 18px;
       background: #fff;

       /* Center slide text vertically */
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       display: flex;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-justify-content: center;
       justify-content: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
   }
.info p{
  font-size: 6px;
}
.info{
  width: 258px;
  height: 65px;
  margin-top: 20px;

}
.one_to_four:after {
  background-color: #000;
  display: inline-block;
  width: 1px;
  height: 8px;
  vertical-align:center;
  margin-left: 5px;
  content: '';
}
.manual h2{
  font-size: 8px;
  display: inline;
  letter-spacing :-1px;
  margin-left: -1px;
}
.manual{
  width: 375px;
  height:11px;
  margin-top: 4px;
}
.footer_container a{
  text-decoration: none;
  color: #000;
}
.footer_container h1{
  font-size: 17px;
}
.footer_container{
  width: 258px;
  height: 126px;
  padding: 22px 97px 22px 20px;

}
.footer{
  margin-top: 275px;
  width: 375px;
  height: 170px;
  background-color: #d9d9d9;
}
.special_price p{
  font-size: 5px;
  color: #fff;
}
.time_sale p{
  font-size: 5px;
  color: #000;
}
.time_sale{
  margin-left:2px;
  float: left;
  width: 22px;
  height: 11px;
  background-color: #FFE333;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.special_price{
  float:left;
  width: 22px;
  height: 11px;
  background-color: #ff3d00;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.daily_sale_content_group h4{
float: left;
  margin-top: -4px;
  margin-left: 9px;
  font-size: 15px;
  color: #000;
}
.daily_sale_content_group h3{
  float: left;
  margin-top: -4px;
  margin-left: 15px;
  padding-top: 5px;
  font-size: 10px;
  color: #A8A8A8;
}
.daily_sale_content_group h2{
  margin-top: -10px;
  margin-left: 137px;
  font-size: 10px;
}
.daily_sale_content_group h1{
  margin-top: 4px;
  margin-left: 137px;
  font-size: 17px;
}
.daily_sale_content_message{
  margin: 29px 0 0 15px ;
}
.daily_sale_content{
  display: block;
  float: left;
    margin: 13px 0 0 15px;
}
.daily_sale_title{
  font-size: 14px;
  padding: 15px 0 0 18px;

}
.daily_sale{
  margin-top: 11px;
  width: 375px;
  height: 177px;
  background-color: #f1f1f1;

}
.content h2{
  margin-top: 5px;
  font-size:8px;
  width: 95px;
  height: 8px;
}
.content h1{
  margin-top: 10px;
 font-size: 9px;
 width: 95px;
 height: 9px;
 color: #000;
}
.banner_wraper {
  margin-top: 300px;
  height: 60px;
   width: 1130px;
    position: absolute;
     overflow: hidden;
   }
.banner_wraper img {
  height: 45px;
  position: absolute;
}

.divTable{ display: table; width:99.5%; margin-left: 1px; }
.divTableRow { display: table-row; }
.divTableHeading { background-color: #EEE; display: table-header-group; }
.divTableCell, .divTableHead {height: 70px;border: 1px solid #999999; display: table-cell; padding: 3px 10px; }
.divTableHeading { background-color: #EEE; display: table-header-group; font-weight: bold; }
.divTableFoot { background-color: #EEE; display: table-footer-group; font-weight: bold; }
.divTableBody { display: table-row-group; }

.best_items h1{
  float: left;
  margin-left: 15px;
}
.best_items a{
  font-size: 8px;
  padding:15px 15px;
  text-decoration:none;
  display:inline-block;
  color:#000;
  font-weight: 100;
  float: right;
}

.best_items{
  display: inline;
  font-size: 14px;
}
.search_bar input{

font-size: 14px;
width: 303px;
height: 38px;
padding:11px 11px 11px 14px;
border: 0px;
outline: none;
border-radius: 5px;
float: left;
}
input:-ms-input-placeholder {color:#a8a8a8; }
input::-webkit-input-placeholder {color:#a8a8a8;}
input::-moz-placeholder {color:#a8a8a8;}
.search_bar button{
width: 50px;
height: 100%;
border: 0;
border-radius: 10px;
background: white;
float: right;
color: #000;

}
.search_bar{

  width: 353px;
  height: 38px;
  background-color: white;
  border-radius: 5px;
  margin-left: 11px;
  margin-top: 12px;
}
.navi_5{
  padding-left: 25px;
}
.navi_4{
  padding-left: 25px;
}
.navi_3{
  padding-left: 31px;
}
.navi_2{
  padding-left: 31px;
}
.navi_1{
  padding-left: 17px;


}
@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.group_navi a{
  text-decoration:none
}
.group_navi p{
display: inline;
font-size: 11px;
letter-spacing :0px;
color: #fff;
font-weight: bolder;
font-family: 'Wemakeprice-Bold';
}
.group_navi{
padding-top: 111px;
  width: 375px;
  height: 16px;
}
.kart_icon{
  position: relative;
  top: 51.3px;
  float: left;
  padding-left: 14.5px;
  width: 22.9px;
  height: 22.9px;

}
.user_info_icon{
  position: relative;
  top: 51.3;
  float: left;
  padding-left: 32.6px;
  width: 22.9px;
  height: 22.9px;

}
.logo{
  position: relative;
  top: 29.3px;
  float: left;
  padding-left: 77.5px;
  width: 160.5px;
  height: 66.7px;

}
.menu_icon{
float: left;
padding: 53.3px 0 0 11;
width: 22.1px;
height: 18.1px;
}

.banner_area{
  position: relative;
  width: 375px;
  height: 186px;
  background-color: #ff6a42;
}
.app_container{
  position: relative;
  left: 50%;
  width: 375px;
  height: 1434px;
  margin-left: -187.5px;
  background-color: #fff;
border: 1px solid #999999;
}
